body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
}

.list {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 100px 0 0;
}

.input{
  display: none;
}

.label{
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;

  border-radius: 10px;
  overflow: hidden;

  cursor: pointer;
}

.wrapper{
  position: relative;
  height: 100vh;
}

.img--background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;

  z-index: -1;

  filter: blur(4px);
}

.img--mini {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img--svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 30%;
  height: 30%;
}

.range {
  display: block;
  margin: 100px auto 0;
  cursor: pointer;
}