body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app {
  height: 100vh;
}


.wrapper{
  position: relative;
  height: 100vh;
}

.img--background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;

  z-index: -1;
}

.img--mini {
  width: 100px;
  height: 100px;
}